@font-face {
  font-family: "SVNAdero";
  font-weight: 300;
  src: url("../fonts/SVN-Adero-Light.eot?") format("eot"), url("../fonts/SVN-Adero-Light.woff2") format("woff2"), url("../fonts/SVN-Adero-Light.woff") format("woff"), url("../fonts/SVN-Adero-Light.ttf") format("truetype"), url('../fonts/SVN-Adero-Light.svg#str-replace(SVNAdero, " ", "_")') format("svg");
  font-display: swap; /* or block, swap, fallback, optional */
}
@font-face {
  font-family: "SVNAdero";
  font-weight: 400;
  src: url("../fonts/SVN-Adero-Regular.eot?") format("eot"), url("../fonts/SVN-Adero-Regular.woff2") format("woff2"), url("../fonts/SVN-Adero-Regular.woff") format("woff"), url("../fonts/SVN-Adero-Regular.ttf") format("truetype"), url('../fonts/SVN-Adero-Regular.svg#str-replace(SVNAdero, " ", "_")') format("svg");
  font-display: swap; /* or block, swap, fallback, optional */
}
@font-face {
  font-family: "SVNAdero";
  font-weight: 600;
  src: url("../fonts/SVN-Adero-SemiBold.eot?") format("eot"), url("../fonts/SVN-Adero-SemiBold.woff2") format("woff2"), url("../fonts/SVN-Adero-SemiBold.woff") format("woff"), url("../fonts/SVN-Adero-SemiBold.ttf") format("truetype"), url('../fonts/SVN-Adero-SemiBold.svg#str-replace(SVNAdero, " ", "_")') format("svg");
  font-display: swap; /* or block, swap, fallback, optional */
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
select,
textarea {
  background-color: transparent;
  outline: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

p {
  margin-bottom: 0;
}

.fade-in {
  opacity: 0;
  visibility: hidden;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}
.header__menu {
  gap: 24px;
}
.header__menu li a {
  display: inline-block;
  font-family: "SVNAdero", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 30px;
  color: #75604B;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
}
.header__menu li a.active {
  color: #009337;
  border-bottom: 1px solid #009337;
}
.header__menu li a:not(.active):hover {
  color: #009337;
}
.header__menu li a:not(.active):hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.header__menu li a::before {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #009337;
  transform-origin: bottom right;
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.header__logo {
  background: url("../images/logo.svg") no-repeat;
  background-position: center;
  width: 84px;
  height: 72px;
  transition: all 0.3s ease-in-out;
}
.header__logo.navbar--scroll {
  background: url("../images/logo_active.svg") no-repeat;
  height: 42px;
}
.header__container {
  gap: 48px;
  padding-block: 12px;
}

.banner__image {
  width: 100%;
  overflow: hidden;
  height: 100vh;
}
.banner__image.result_hover img {
  transform: scale(1);
}
.banner__image img {
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
  transform: scale(1.01);
}

.t {
  height: 200vh;
}

.detail__tab {
  padding-block: 22px;
}
.detail__tab ul {
  gap: 32px;
}
.detail__tab ul li a {
  display: inline-block;
  font-family: "SVNAdero", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 30px;
  color: #75604B;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
}
.detail__tab ul li a.active {
  color: #009337;
  border-bottom: 1px solid #009337;
}
.detail__tab ul li a:not(.active):hover {
  color: #009337;
}
.detail__tab ul li a:not(.active):hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.detail__tab ul li a::before {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #009337;
  transform-origin: bottom right;
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.detail__content {
  background-color: #f6f1eb;
  padding-top: 170px;
  padding-bottom: 60px;
}
.detail__desc {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 115px;
}
.detail__img {
  position: relative;
}
.detail__img .location {
  position: absolute;
  width: 265px;
  height: 73px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  font-family: "SVNAdero", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #fff;
  transition: all 0.2s ease-in-out;
  z-index: 2;
}
.detail__img .location .circle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #75604B;
  position: absolute;
}
.detail__img .location .circle.d2 {
  left: 75px;
  bottom: 0;
}
.detail__img .location .circle.d1 {
  left: 75px;
  bottom: 10px;
}
.detail__img .location .circle.d4 {
  bottom: 0;
  left: 15px;
}
.detail__img .location .circle.d3 {
  bottom: 10px;
  left: 15px;
}
.detail__img .location.d2 {
  left: 295px;
  top: 65px;
  background-color: rgba(137, 158, 193, 0.8);
}
.detail__img .location.d2:hover {
  cursor: pointer;
  background-color: rgba(137, 158, 193, 0.8);
}
.detail__img .location.d2:hover ~ .location.d1 {
  background-color: rgba(137, 158, 193, 0.8);
}
.detail__img .location.d2:hover ~ .location.d3 {
  background-color: rgba(137, 158, 193, 0.8);
}
.detail__img .location.d2:hover ~ .location.d4 {
  background-color: rgba(137, 158, 193, 0.8);
}
.detail__img .location.d1 {
  top: 160px;
  left: 293px;
}
.detail__img .location.d1.hover {
  background-color: rgba(137, 158, 193, 0.8);
}
.detail__img .location.d4 {
  top: 70px;
  right: 180px;
}
.detail__img .location.d4.hover {
  background-color: rgba(137, 158, 193, 0.8);
}
.detail__img .location.d3 {
  top: 163px;
  right: 185px;
}
.detail__img .location.d3.hover {
  background-color: rgba(137, 158, 193, 0.8);
}
.detail__d2 {
  position: absolute;
  bottom: 0;
  left: 350px;
  width: 432px;
  height: 263px;
  transition: all 0.2s;
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;
}
.detail__d2:hover {
  opacity: 1;
  visibility: visible;
}
.detail__d2.show {
  opacity: 1;
  visibility: visible;
}
.detail__d2--content {
  background-color: #009337;
  padding: 0 24px 24px 24px;
  position: relative;
  width: 100%;
  height: 100%;
}
.detail__d2--content .icon {
  position: absolute;
  left: -20px;
  top: 30px;
}
.detail__d2--title {
  font-family: "SVNAdero", sans-serif;
  font-size: 60px;
  font-weight: 400;
  line-height: 90px;
  color: #fff;
  margin-bottom: 4px;
}
.detail__d2--info {
  font-family: "SVNAdero", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #fff;
  margin-bottom: 24px;
}
.detail__d2--desc {
  padding-top: 24px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.detail__d2--desc .total h4,
.detail__d2--desc .acreage h4 {
  font-family: "SVNAdero", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 8px;
}
.detail__d2--desc .total p,
.detail__d2--desc .acreage p {
  font-family: "SVNAdero", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #FFFFFF;
}
.detail__footer {
  padding-inline: 30px;
}
.detail__locate {
  background: url("../images/location-default.svg");
  width: 170px;
  height: 140px;
}
.detail__locate.change {
  background: url("../images/location-active.svg");
}
.detail__dial {
  width: 170px;
}
.detail__tech {
  max-width: 67%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.detail__tech--list {
  gap: 40px;
  margin-bottom: 24px;
}
.detail__tech--item {
  display: flex;
  gap: 12px;
  align-items: center;
}
.detail__tech--item .box-color {
  width: 32px;
  height: 24px;
  background-color: var(--bgc);
}
.detail__tech--item p {
  font-family: "SVNAdero", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 30px;
  color: #75604B;
  text-transform: uppercase;
}
.detail__tech--content {
  font-family: "SVNAdero", sans-serif;
  font-size: 9px;
  font-weight: 400;
  line-height: 14px;
  color: #75604B;
  max-width: 750px;
  width: 100%;
}
.detail__panel {
  background-color: #f8f1e9;
  position: relative;
}
.detail__panel .detail__icon--phone {
  position: absolute;
  content: "";
  bottom: 60px;
  right: 40px;
  width: 56px;
  height: 56px;
  background: url("../images/Phone.svg");
}
.detail__panel .custom {
  display: flex;
  flex-direction: row-reverse;
  gap: 0 50px;
}
.detail__panel .custom .nav {
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px 0;
  padding-right: 40px;
}
.detail__panel .custom .nav p {
  font-family: "SVNAdero", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 30px;
  color: #75604B;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.detail__panel .custom .nav-link {
  width: 56px;
  height: 56px;
  background-color: #fff;
  font-family: "SVNAdero", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  color: #75604B;
  border-radius: 50%;
}
.detail__panel .custom .nav-link.active {
  background-color: #75604B;
  color: #fff;
}
.detail__floor--info .floor__dial {
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.detail__floor--info .floor__floorplan {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding-bottom: 70px;
  width: 100%;
}
.detail__floor--info .floorplan__img {
  margin-bottom: 75px;
  width: 100%;
}
@media (max-width: 1440px) {
  .detail__floor--info .floorplan__img.f4 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.detail__floor--info .floorplan__info {
  display: flex;
  gap: 0 40px;
  margin-bottom: 45px;
}
.detail__floor--info .floorplan__info .locate-in.f2,
.detail__floor--info .floorplan__info .locate-out.f2 {
  width: 100%;
}
.detail__floor--info .floorplan__info .locate-in h3,
.detail__floor--info .floorplan__info .locate-out h3 {
  font-family: "SVNAdero", sans-serif;
  font-size: 11px;
  font-weight: 400;
  line-height: 27px;
  color: #75604B;
  text-transform: uppercase;
  border-bottom: 1px solid #75604B;
  padding-bottom: 9px;
}
.detail__floor--info .floorplan__info .locate-in ul,
.detail__floor--info .floorplan__info .locate-out ul {
  display: flex;
  align-items: center;
  gap: 0 30px;
}
.detail__floor--info .floorplan__info .locate-in ul li .box h5,
.detail__floor--info .floorplan__info .locate-out ul li .box h5 {
  font-family: "SVNAdero", sans-serif;
  font-size: 11px;
  font-weight: 400;
  line-height: 27px;
  color: #75604B;
  margin-bottom: 0;
}
.detail__floor--info .floorplan__info .locate-in ul li .box p,
.detail__floor--info .floorplan__info .locate-out ul li .box p {
  font-family: "SVNAdero", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #75604B;
}
.detail__floor--info .floorplan__content p {
  font-family: "SVNAdero", sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  color: #75604B;
}
.detail__sidebar {
  background-color: #009337;
  max-width: 400px;
  height: 700px;
  width: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.detail__sidebar--icon {
  position: absolute;
  content: "";
  width: 56px;
  height: 56px;
  top: 45px;
  right: 0;
  transform: translateX(50%);
  background: url("../images/icon-close.svg");
  transition: all 0.3s ease-in-out;
}
.detail__sidebar--icon:hover {
  background: url("../images/icon-close-hover.svg");
  cursor: pointer;
}
.detail__sidebar--top h3 {
  font-family: "SVNAdero", sans-serif;
  font-size: 60px;
  font-weight: 400;
  line-height: 90px;
  color: #fff;
  margin-bottom: 4px;
}
.detail__sidebar--top p {
  font-family: "SVNAdero", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #fff;
  border-bottom: 1px solid #fff;
  padding-bottom: 27px;
}
.detail__sidebar--top .house-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 24px;
  margin-bottom: 32px;
}
.detail__sidebar--top .house-info .info:nth-child(3), .detail__sidebar--top .house-info .info:nth-child(4) {
  padding-top: 27px;
}
.detail__sidebar--top .house-info .info h5 {
  font-family: "SVNAdero", sans-serif;
  font-size: 11px;
  font-weight: 400;
  line-height: 18px;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 8px;
}
.detail__sidebar--top .house-info .info p {
  padding-bottom: 20px;
}
.detail__sidebar--bottom .list-img {
  display: flex;
  align-items: center;
  gap: 16px;
}
.detail__sidebar--bottom .list-img .img {
  position: relative;
}
.detail__sidebar--bottom .list-img .img:hover img {
  opacity: 0.5;
}
.detail__sidebar--bottom .list-img .img:hover::after, .detail__sidebar--bottom .list-img .img:hover::before {
  opacity: 1;
  visibility: visible;
}
.detail__sidebar--bottom .list-img .img::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  border-right: solid 5px transparent;
  border-left: solid 5px transparent;
  border-bottom: solid 5px #fff;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;
}
.detail__sidebar--bottom .list-img .img::after {
  position: absolute;
  content: var(--content);
  bottom: -40px;
  left: 0;
  font-family: "SVNAdero", sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  color: #75604B;
  width: 100px;
  transform: translateX(-25%);
  background-color: #fff;
  text-align: center;
  padding-block: 10px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;
}

/*# sourceMappingURL=style.css.map */
